USE [LibraryToDoDb]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 26/09/2024 11:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [uniqueidentifier] NULL,
	[Author] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Publisher] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/09/2024 11:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Role] [int] NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Role], [Email], [Password]) VALUES (N'6007a233-3380-4ecf-971d-d2267eac7839', N'denemeeee', N'deneme', 1, N'deneme@deneme.com', N'deneme123')
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Role], [Email], [Password]) VALUES (N'd89db667-83a8-4293-9200-c975e936b3c8', N'test', N'test', 3, N'test@test.com', N'test123')
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Role], [Email], [Password]) VALUES (N'910fea98-ae90-4beb-9158-11d2b8816371', N'deneme123', N'denemeeeeeeeeeee', 1, N'güncelledim', N'1234')
GO
